[Unit]
Description=Ruuvi Prometheus scraper
After=bluetooth.target
Wants=bluetooth.target

[Service]
Type=simple
WorkingDirectory=/home/ruuvi/ruuvi-prometheus-scraper
ExecStart=/home/ruuvi/ruuvi-prometheus-scraper/venv/bin/python main.py
User=ruuvi
Group=ruuvi
Restart=always
Environment=PYTHONUNBUFFERED=1
RuntimeMaxSec=1h

[Install]
WantedBy=multi-user.target
